/* body {
    
} */

.col-md-2 {
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding-bottom: 5px;
}

h3 {
    font-weight: 300 !important;
    font-size: .6rem;
    padding: 0px;
    margin: 0px!important;
    color: #eee !important;
}

h4 {
    font-weight: 300 !important;
    font-size: 1.6rem !important;
    padding: 0px;
    margin: 0px!important;
    color: #eee !important;
}

h1 {
    color: #eee !important;
}
.on-screen-display {
    width: 100%;
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.health {
    background-color: #f00;
    height: 20px;
}
.spacer-top {
    height: 50px;
}
.healthbar {
    border-style: solid;
    border-color: #f00;
    border-width: 1px;
    padding: 0px !important;
}

.wave-display {
    visibility: visible; 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 110vh;
    width: 100%;
    max-width: 100% !important;
    text-align: center;
    margin-top: 200px;
}

.game-over {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 110vh;
    width: 100%;
    visibility: hidden;
    max-width: 100% !important;
    text-align: center;
}

.level-up {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 110vh;
    width: 100%;
    visibility: hidden;
    max-width: 100% !important;
    text-align: center;
}

.keyboard-display {
    visibility: visible; 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 110vh;
    width: 100%;
    max-width: 100% !important;
    text-align: left;
    padding-top: 150px;
}

.controls {
    margin-left: 3%;
    font-size: 10px;
    color:#eee !important;
    font-family: monospace !important;
}

.visibility-toggle {
    visibility: hidden;
}

#minimap-wrap{
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(255,255,255,.35);
  background: rgba(0, 60, 99, 0.506);
  backdrop-filter: blur(1px);
  z-index: 9999;
}

#minimap{
  width: 200px;
  height: 200px;
  display: block;
}

#target-wrap {
  position: absolute;
  right: 16px;
  bottom: 232px;
  width: 200px;
  height: auto;
  border: 1px solid rgba(255,255,255,.35);
  background: rgba(0, 60, 99, 0.506);
  backdrop-filter: blur(1px);
  z-index: 10000;
  padding: 10px;
}

#target-wrap p {
    color: #00b7ffc2;
    font-size: 10px;
    
}

#target-size {
    margin: 0;
    padding: 0;
}